h1 {
    color: gray;
}

#freeNotes {
    width:200px;
    height:100px;
    resize: none;
    text-align: center;
}

#savedNotes {
    border:solid 3px white;

}

#notesDate {
    font-weight: bolder;
    color: white;
}