* {
    margin:0px;
}

h1 {
    font-size: 40px;
    color: #fff;
}

#register_page {
    background-image: url('../assets/med.jpg');
    background-size:100%;
    background-repeat: no-repeat;
    width:100%;
    height:100%;
}


#register_form {
    background-color: rgb(207, 182, 149);
    border:solid 5px rgb(59, 59, 62);
    width:250px;
    height:100%;
    padding-top:150px;
    border-radius: 15%;
}

#register_form, div {
    padding:20px;
}

#register_form, label {
    font-style: italic;
    font-weight: 600;
    color:black
}

#register_form, a {
    color:blue
}